/* setting style for empty sections */
.none_ {
    flex: 35%;
    max-height: 1px;
}

/* setting style for section contains content */
.mid-s {
    flex: 30%;
    height: auto;
    margin-top: 10px;
    padding: 20px;
    text-align: center;
    
}

.error {
    padding-left: 10px;
    text-align: left;
    font-size: small;
    color: red;
}

/* style for form and some elements */
.flex-form {
    width: 100%;
    padding: 10px;
    border-left:1px solid lightgray;
    border-right:1px solid lightgray;
}

input[type=text], input[type=password], input[type=submit] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid lightgray;
}

input[type=submit] {
    background-color: limegreen;
    padding: 15px;
    color: white;
    cursor: pointer;
    transition-duration: 0.4s;
}
input[type=submit]:hover {
    opacity: 0.8;
}

/* Respoonsive for screen less than 768px */
@media screen and (max-width: 768px) {
    .fl-container {
        flex-direction: column;
    }
    /* .flex-form {
        width: 100%;
    } */
    h1 {
        font-size: 3rem;
    }
}