.fl-container {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-right: 10px;
}
.fl-container_sub {
    display: flex;
    flex-direction: row;
}

.p-cards {
    width: 50%;
    height: 500px;
    margin: 15px;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

h3 {
    padding-left: 5px;
}

img {
    height: 100px; 
    object-fit: cover;
}

button {
    height: 30px;
    text-align: center;
    border: none;
    border-radius: 5px;
}
.info_bu {
    background-color: rgb(66, 139, 202);
    color: white;
}
.ord_bu {
    background-color: rgb(240, 173, 78);
    color: white;
}

/* responsive for screen less than 992px */
@media screen and (max-width: 992px) {
    .fl-container_sub {
        flex-direction: column;
        margin: 10px;
        padding: 5px;
    }
    .p-cards {
        width: 90%;
        border-radius: 5px;
    }
}

/* responsive for screen less than 576px */
@media screen and (max-width: 576px) {
    .fl-container {
        flex-direction: column;
    }

    .p-cards {
        width: 90%;
        border-radius: 5px;
    }
    .head_button {
        min-width: auto;
        background-color: lightgray;
    }
    
    h1 {
        font-size: 3rem;
    }
}
