.fl-container {
    padding: 0% !important;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-right: 10px;
}
.fl-container_sub {
    display: flex;
    flex-direction: row;
}

.p-cards {
    width: 50%;
    height: 500px;
    margin: 15px;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

h3 {
    padding-left: 5px;
}

img {
    height: 100px; 
    object-fit: cover;
}
@media screen and (max-width: 992px) {
    .fl-container_sub {
        flex-direction: column;
        margin: 10px;
        padding: 5px;
    }
    .p-cards {
        width: 100%;
        border-radius: 5px;
    }
}

@media screen and (max-width: 576px) {
    .fl-container {
        flex-direction: column;
    }
}